/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 14px;
}
html body {
  background-color: #F0F0F0;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}
html body header {
  font-family: "Montserrat", sans-serif;
}
html body header nav {
  background-color: #010630;
  height: 10vh;
  display: grid;
  grid-template-columns: 0.5fr 1fr;
}
html body header nav figure {
  padding-left: 3rem;
  grid-column: 1/2;
}
html body header nav figure img {
  height: 5rem;
}
html body header nav ul {
  list-style: none;
  display: inline-flex;
  padding-left: 1.4rem;
  grid-column: 2/3;
}
html body header nav ul li {
  padding-top: 2rem;
  padding-right: 9rem;
  color: #ffffff;
  font-weight: 500;
  font-size: 1.2rem;
}
html body main {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
}
html body main > section {
  grid-column: 2/3;
  display: grid;
  grid-template-columns: 1fr 0.05fr 1fr 0.05fr 1fr;
  grid-template-rows: 0.7fr 2fr 0.16fr 2fr 0.2fr;
}
html body main > section h1 {
  font-size: 3.2rem;
  font-family: "Roboto Condensed", sans-serif;
  color: #00398f;
  font-weight: 700;
  grid-row: 1/2;
  grid-column: 1/6;
  padding-top: 2rem;
}
html body main > section section {
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}
html body main > section section h2 {
  font-size: 2.5rem;
  color: #0166ff;
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
}
html body main > section section > header ul li:not(:first-of-type) {
  border-radius: 25px;
  background-color: #f0f0f0;
  color: #00398f;
  font-weight: 300;
}
html body main > section section:first-of-type {
  grid-column: 1/2;
  grid-row: 2/3;
}
html body main > section section:nth-of-type(2) {
  grid-column: 3/4;
  grid-row: 2/3;
}
html body main > section section:nth-of-type(3) {
  grid-column: 1/2;
  grid-row: 4/5;
}
html body main > section aside {
  grid-column: 5/6;
  grid-row: 2/5;
  border: 1px solid #0166ff;
  background-color: white;
  border-radius: 5px;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.1);
  padding: 1rem;
}
html body main > section aside h2 {
  font-size: 2rem;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  color: #00398f;
  padding-bottom: 1.5rem;
}
html body main > section aside nav h3 {
  padding-bottom: 1.5rem;
  font-size: 1.5rem;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
}
html body main > section aside nav ul span {
  grid-column: 1/2;
  text-align: left;
}
html body main > section aside nav ul li {
  font-family: "Montserrat", sans-serif;
  display: grid;
  grid-template-columns: 1fr 9fr;
  padding-bottom: 1.5rem;
  font-size: 1.1rem;
  text-align: left;
  grid-column: 2/3;
}
html body main > section aside nav:nth-of-type(2) h3 {
  border-top: 1px solid #ddd;
  padding-top: 1rem;
}
html body > footer {
  font-family: "Montserrat", sans-serif;
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  height: 4rem;
  font-size: 1.1rem;
  text-align: center;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}
html body > footer h3 {
  grid-row: 2/3;
}

/*# sourceMappingURL=style.css.map */
